[Unit]
Description=Django - Gunicorn web service
After=network.target

[Service]
Type=simple
User=iot
Group=iot
WorkingDirectory=/home/apps/IoT

# Si quieres usar variables de entorno desde un .env:
# EnvironmentFile=/home/apps/IoT/.env

# Variables críticas
Environment=DJANGO_SETTINGS_MODULE=iot_ucr.settings.prod
Environment=PATH=/home/apps/IoT/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin

# Invocamos directamente al binario gunicorn dentro del venv
ExecStart=/home/apps/IoT/.venv/bin/gunicorn \
    --workers 3 \
    --threads 2 \
    --bind 0.0.0.0:8000 \
    --access-logfile - \
    iot_ucr.wsgi:application

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
