[Unit]
Description=MQTT Publisher – Django management command
After=network.target iot-web.service
Requires=iot-web.service

[Service]
Type=simple
User=iot
Group=iot
WorkingDirectory=/home/apps/IoT
Environment=DJANGO_SETTINGS_MODULE=iot_ucr.settings.prod

ExecStart=/home/apps/IoT/.venv/bin/python \
    /home/apps/IoT/manage.py mqtt_publisher

Restart=on-failure
RestartSec=3s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
