<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Dashboard IoT{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/static/img/ucr.ico" type="image/png">

  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
</head>
<body class="min-h-screen bg-gray-100 text-gray-800">

  {% block header %}{% endblock %}

  <main class="container mx-auto px-4">
    {% block content %}{% endblock %}
  </main>
  <!-- Contenedor oculto para modo fullscreen -->
  <div id="fullscreen-container"
  class="fixed inset-0 z-50 bg-white p-4 overflow-auto hidden">
  </div>

  <script>window.STATIC_URL = "{% static '' %}";</script>  
  <script src="{% static 'vendor/chart.js' %}"></script>
  <script src="{% static 'vendor/luxon.js' %}"></script>
  <script src="{% static 'vendor/chartjs-adapter-luxon.js' %}"></script>  
  <script type="module" src="{% static 'js/main.js' %}"></script>

</body>
</html>
